Cargo.lock
wasm-pack.log

.idea/
**/*.rs.bk

/target
/pkg/
*.exe

scripts/data

## DEPLOY_TAG
# Everything below here is removed from the gitignore when deploying. Hacky, but effective
www/wasm/
www/images/earth_color/**/*.png
www/images/earth_height/**/*.png
